.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/33D9AA95/pcs/workbench-pane.pper
.Rproj.user/33D9AA95/console06/INDEX001
.Rproj.user/33D9AA95/pcs/files-pane.pper
.Rproj.user/33D9AA95/pcs/source-pane.pper
.Rproj.user/33D9AA95/sources/prop/18A6C43B
.Rproj.user/33D9AA95/sources/prop/1C216F96
.public
